@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	list-style-type: none;
	font-family: 'Baloo Da 2', cursive;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

$color-shadow: rgba(0, 0, 0, 0.5);
$color-text: #fff;
$color-heading: #ddd;
$color-brand-1: #9e0e09;

.heading {
	font-family: 'Audiowide', cursive;
	font-size: 5rem;
	font-weight: 400;
	color: red;
	text-transform: uppercase;
	text-align: center;
	margin: 4rem 0;
}

// Navbar

.navbar {
	width: 100%;
	height: 10rem;
	background-color: rgba(0, 0, 0, 0.85);
	backdrop-filter: blur(7px);
	height: 10rem;
	position: fixed;
	top: -20rem;
	z-index: 10;
	padding: 3rem;
	transition: height 0.5s;
	animation: animateNavbar 1s 0.5s forwards;

	@keyframes animateNavbar {
		from {
			top: -8rem;
		}
		to {
			top: 0rem;
		}
	}

	&__autobox {
		top: 0;
		left: -35rem;
		width: 30rem;
		height: 10rem;
		position: absolute;
		z-index: 100;
		// animation: carMove 15s cubic-bezier(0.04, 1.01, 0.87, 0.06) infinite 1.2s, carRide 0.4s linear infinite;
		animation: carMove 15s cubic-bezier(0.18, 0.84, 0.85, 0.35) infinite 1.2s, carRide 0.4s linear infinite;

		@keyframes carMove {
			0% {
				left: -35rem;
			}

			100% {
				left: 100%;
			}
		}

		@keyframes carRide {
			0% {
				transform: translateY(-0.07rem);
			}

			100% {
				transform: translateY(0rem);
			}
		}

		&-content img {
			top: 0;
			left: 0;
			position: absolute;
			width: 100%;
		}

		&-wheel1 {
			top: 4.4rem;
			left: 20.6em;
			position: absolute;
			width: 14.4%;
			height: 14.4%;

			img {
				transform-origin: center;
				animation: animateWheel 0.5s linear infinite;
			}
		}

		&-wheel2 {
			top: 4.4rem;
			left: 3.4rem;
			position: absolute;
			width: 14.4%;
			height: 14.4%;

			img {
				transform-origin: center;
				animation: animateWheel 0.5s linear infinite;
			}
		}

		@keyframes animateWheel {
			0% {
				rotate: 0deg;
			}
			100% {
				rotate: 360deg;
			}
		}
	}

	&__logo {
		position: absolute;
		top: 2.5rem;
		left: 3rem;

		p {
			font-family: 'Lato', sans-serif;
			font-size: 3.5rem;
			color: yellow;
			font-weight: 900;
			letter-spacing: 0.1rem;
			text-transform: uppercase;
		}

		span {
			display: inline-block;
			font-family: 'Lato', sans-serif;
			font-size: 3.5rem;
			font-weight: 900;
			color: $color-brand-1;
		}
	}

	&.change {
		height: 100vh;
	}

	&__list {
		position: absolute;
		top: 25%;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4rem;
		opacity: 0;
		visibility: hidden;
		transition: all 0.6s;

		&-link {
			font-family: 'Lato', sans-serif;
			font-size: 4rem;
			color: $color-text;
			font-weight: 900;
			letter-spacing: 0.3rem;
			text-transform: uppercase;
			transition: all 0.4s;

			&::first-letter {
				color: $color-brand-1;
				font-size: 5rem;
			}

			&:hover {
				color: $color-brand-1;
				text-shadow: 0rem 0rem 0.3rem $color-text;
			}

			&:hover::first-letter {
				color: $color-text;
				text-shadow: 0rem 0rem .3rem $color-brand-1;
			}
		}
	}
}

.change .navbar__list {
	opacity: 1;
	visibility: visible;
	transition: all 0.6s 0.4s;
}
// End of navbar

// MENU
.menu {
	width: 4rem;
	height: 4rem;
	position: fixed;
	z-index: 100;
	right: 2rem;
	top: 2.8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	cursor: pointer;

	.line {
		width: 100%;
		height: 0.1rem;
		background-color: $color-text;
		transition: all 0.5s;
	}

	.line-1,
	.line-3 {
		width: 50%;
		transition: transform 0.5s;
	}
}

.menu:hover .line {
	background-color: $color-brand-1;
}

.change .line-1 {
	transform: translate(65%, 1.6rem) rotate(-35deg);
}

.change .line-3 {
	transform: translate(65%, -1.6rem) rotate(35deg);
}
// End of MENU
// Section 1

.section-1 {
	width: 100%;
	height: 100vh;
	position: relative;

	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		opacity: 0.7;
		overflow: hidden;
	}

	&__video-content {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	&__banner {
		width: 100%;
		position: absolute;
		top: 20%;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;

		&-heading {
			margin-bottom: 4rem;
			height: 20rem;
			perspective: 50rem;
			overflow: hidden;

			span {
				font-family: 'Oswald', sans-serif;
				font-size: 12rem;
				font-weight: 400;
				text-transform: uppercase;
				color: $color-text;
				text-shadow: 0.3rem 0.3rem 0.6rem $color-shadow;
				position: absolute;
				width: 100%;
				display: flex;
				justify-content: center;
				transform: translateZ(10rem);
				opacity: 0;
				letter-spacing: 3rem;
			}
		}

		&-heading-1 {
			animation: animateHeading 12s 3s infinite;
		}

		&-heading-2 {
			animation: animateHeading 12s 6s infinite;
		}

		&-heading-3 {
			animation: animateHeading 12s 9s infinite;
		}

		&-heading-4 {
			animation: animateHeading 12s 12s infinite;
		}

		@keyframes animateHeading {
			0% {
				transform: translateZ(10rem);
				opacity: 0;
				letter-spacing: 3rem;
			}

			5% {
				transform: translateZ(0rem);
				opacity: 1;
				letter-spacing: 1.5rem;
			}
			25% {
				transform: translateZ(0rem);
				opacity: 1;
				letter-spacing: 1.5rem;
			}

			30% {
				transform: translateZ(10rem);
				opacity: 0;
				letter-spacing: 3rem;
			}

			100% {
				transform: translateZ(10rem);
				opacity: 0;
				letter-spacing: 3rem;
			}
		}

		&-paragraph {
			font-size: 4rem;
			font-weight: 400;
			text-transform: uppercase;
			color: $color-text;
			background-color: transparent;
			backdrop-filter: blur(3px);
			width: 30%;
			margin: 0rem auto 4rem auto;
			padding: 1rem 0;
			box-shadow: 1rem 1rem 5rem $color-shadow;
			font-family: 'Oswald', sans-serif;
			visibility: hidden;
			animation: fadeAnime 2s 1s forwards;
		}

		@keyframes fadeAnime {
			from {
				opacity: 0;
				visibility: hidden;
			}
			to {
				opacity: 1;
				visibility: visible;
			}
		}

		&-btn {
			width: 30rem;
			height: 6rem;
			background-image: linear-gradient(to right, #9b0e0e, #7a1010);
			color: $color-text;
			font-size: 2rem;
			text-transform: uppercase;
			border-radius: 3rem;
			border: 0.1rem solid #800505;
			box-shadow: 1rem 2rem 3rem $color-shadow;
			text-shadow: 0.6rem 0.3rem 0.2rem $color-shadow;
			cursor: pointer;
			opacity: 0;
			visibility: hidden;
			animation: fadeAnime 2s 2s forwards;
			position: relative;
			overflow: hidden;
		}

		&-btn::before {
			content: '';
			width: 100%;
			height: 100%;
			background-image: linear-gradient(to right, transparent, $color-text, transparent);
			position: absolute;
			top: 0;
			left: -100%;
			transform: skewX (-30deg);
			transition: left 0.5s;
		}

		&-btn:hover::before {
			left: 100%;
		}
	}
}

// End of section 1

// Section 2
.section-2 {
	width: 100%;
	height: 100vh;
	background-color: #222020;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0 10rem;
	position: relative;

	&__paragraph {
		width: 100rem;
		position: absolute;
		bottom: 5rem;
		right: 15rem;
		font-size: 2rem;
		color: $color-text;
		border-top: 0.3rem double $color-heading;
		border-bottom: 0.3rem double $color-heading;
		padding: 2rem 0 2rem 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: justify;
		text-shadow: 1rem 1rem 2rem $color-shadow;

		.fa-quote-left {
			align-self: flex-start;
			font-size: 3rem;
			margin-bottom: 1rem;
		}

		.fa-quote-right {
			margin-top: 1rem;
			align-self: flex-end;
			font-size: 3rem;
		}
	}
}

// End of section 2

// Section 3

.opinion {
	width: 100%;
	height: 100vh;
	background: radial-gradient(
			circle,
			rgba(116, 45, 163, 0.8) 0%,
			rgba(231, 95, 95, 0.7) 50%,
			rgba(235, 165, 68, 0.8) 100%
		),
		url('./images/car-mechanic-customer-shaking-hands_Image\ by\ aleksandarlittlewolf\ on\ Freepik.jpg');
	background-position: center;
	background-size: cover;
	overflow: hidden;

	&-cards-wrapper {
		width: 100%;
		padding: 3rem 0;
	}

	&-heading {
		color: $color-text;
	}

	&-card {
		background-image: url('./images/opinion.jpg');
		background-position: center;
		background-size: cover;
		width: 45rem;
		height: 65rem;
		border-radius: 1rem;
		box-shadow: 0 1.5rem 5rem rgba(0, 0, 0, 0.2);
		filter: blur(0.5rem) brightness(0.8);
		transition: all 0.3s;
	}

	&-box {
		position: relative;
		padding: 4rem 4rem 2rem 4rem;
		width: 100%;
		font-size: 2rem;
	}

	&-paragraph {
		i {
			font-size: 3rem;
			display: block;
			color: rgb(133, 210, 245);
		}

		.fa-quote-right {
			text-align: right;
		}
	}

	&-author {
		font-size: 2.5rem;
		text-align: right;
		margin-top: 1rem;
		color: rgba(24, 183, 255, 1);
	}

	&-link {
		display: block;
		margin-bottom: 2rem;
		font-size: 1.5rem;
		text-align: right;
	}

	.swiper-slide-shadow-left,
	.swiper-slide-shadow-right {
		background-image: none;
	}
	.swiper-slide-active {
		filter: blur(0rem);
	}
}

// End of Opinion

// Accordion

.section_accordion {
	width: 100%;
	height: 100vh;
	display: grid;
	place-content: center;
	position: relative;
}

.accordion-bcg {
	background: url('./images/oferta.png');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.2;
}

.accordion {
	max-width: 150rem;
	height: 65rem;
	display: flex;

	.contentBox {
		position: relative;
		margin: 1rem 2rem;

		.label {
			height: 25rem;
			position: relative;
			cursor: pointer;
			h3 {
				text-align: center;
				font-size: 3.5em;
				font-family: 'Oswald', sans-serif;
				color: #fff;
			}

			&::before {
				content: '+';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 2rem;
				font-size: 3.5em;
			}
		}

		.content {
			position: relative;
			background: #fff;
			height: 0;
			padding: 0 1rem;
			overflow: hidden;
			transition: height 1s, padding 0.5s;
			overflow-y: none;
			font-size: 2em;
			border-bottom-left-radius: 10%;
			border-bottom-right-radius: 10%;
		}

		&.active .content {
			height: 40rem;
			padding: 1rem 1rem;
		}
	}

	.contentBox-1 {
		.label {
			background: url('./images/mechanika.jpg') no-repeat;
			background-size: cover;

			h3 {
				background-image: linear-gradient(to right, #087285, rgb(13, 165, 211));
			}
		}
		.content {
			background: rgba(13, 165, 211, 0.9);
		}
	}

	.contentBox-2 {
		.label {
			background: url('./images/motor.jpg') no-repeat;
			background-size: cover;

			h3 {
				background-image: linear-gradient(to right, #946809, rgb(189, 186, 14));
			}
		}

		.content {
			background: rgba(189, 186, 14, 0.9);
		}
	}

	.contentBox-3 {
		.label {
			background: url('./images/wulkanizacja.jpg') no-repeat;
			background-size: cover;

			h3 {
				background-image: linear-gradient(to right, #a10c14, rgb(226, 59, 59));
			}
		}

		.content {
			background: rgba(226, 59, 59, 0.9);
		}
	}

	.contentBox-4 {
		.label {
			background: url('./images/road-mountain.jpg') no-repeat;
			background-size: cover;

			h3 {
				background-image: linear-gradient(to right, #0b7e48, rgb(59, 226, 134));
			}
		}

		.content {
			background: rgba(59, 226, 134, 0.9);
		}
	}
}
// End of accordion

// ContactUs

.contactUs {
	background-image: linear-gradient(to right, rgba(235, 137, 137, 0.3), rgba(245, 245, 191, 0.3)),
		url(./images/road-mountain.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 30px 100px;
}

.contactUs__title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4rem;
}

.contactUs__heading {
	color: #fff;
	font-weight: 500;
}

.contactUs__form {
	grid-area: form;
}

.contactUs__info {
	grid-area: info;
	display: flex;
	column-gap: 20rem;
}

.contactUs__map {
	grid-area: map;
}

.contactUs__contact {
	padding: 3rem;
	background: rgba(83, 81, 81, 0.4);
	backdrop-filter: blur(5px);
	box-shadow: 0.4rem 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
}

.contactUs__infobox {
	display: flex;
}

.contactUs__box {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 'form info' 'form map';
	grid-gap: 2rem;
	margin-top: 2rem;
}

.contactUs__contact h3 {
	color: $color-text;
	font-weight: 500;
	font-size: 3rem;
	margin-bottom: 6px;
	font-family: 'Oswald', sans-serif;
	text-shadow: 0.5rem 0.5rem 0.3rem $color-shadow;
}

/* form */
.contactUs__formBox {
	position: relative;
	width: 100%;
}

.contactUs__row50 {
	display: flex;
	gap: 1rem;
}

.contactUs__inputBox {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	width: 50%;
}

.contactUs__row100 .contactUs__inputBox {
	width: 100%;
}

.contactUs__inputBox span {
	font-family: 'Oswald', sans-serif;
	font-size: 1.8rem;
	color: $color-text;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	font-weight: 500;
}

.contactUs__inputBox input {
	padding: 1rem;
	font-size: 1.5rem;
	outline: none;
	border: 1px solid #333;
}

.contactUs__inputBox textarea {
	padding: 1rem;
	font-size: 2rem;
	outline: none;
	border: 1px solid #333;
	resize: none;
	min-height: 20rem;
	margin-bottom: 1rem;
}

.contactUs__btnSubmit input[type='submit'] {
	font-family: 'Oswald', sans-serif;
	background: $color-brand-1;
	color: #fff;
	border: none;
	font-size: 2rem;
	max-width: 12rem;
	font-weight: 500;
	cursor: pointer;
	padding: 1.4rem 1.5rem;
	transition: background-color 0.3s;

	&:hover {
		background-color: #850404;
	}
}

.contactUs__inputBox::placeholder {
	color: #999;
}

/* info */
.contactUs__info {
	background: rgba(83, 81, 81, 0.4);
}

.contactUs__info h3 {
	color: $color-text;
}

.contactUs__info .contactUs__infoBox div {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.contactUs__info .contactUs__infoBox div span {
	min-width: 4rem;
	height: 4rem;
	background: #18b7ff;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	border-radius: 50%;
	margin-right: 1.5rem;
}

.contactUs__info .contactUs__infoBox div p {
	margin-top: 2rem;
	color: #fff;
	font-size: 1.5rem;
	line-height: 2rem;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 0.1rem;
}

.contactUs__info .contactUs__infoBox div a {
	font-family: 'Oswald', sans-serif;
	letter-spacing: 0.1rem;
	color: #fff;
	text-decoration: none;
	font-size: 1.5rem;
}

.contactUs__map {
	padding: 0;
}

.contactUs__map iframe {
	width: 100%;
	height: 100%;
}

.contactUs__hoursBox h3 {
	margin-bottom: 2.2rem;
}

.contactUs_hours-list {
	font-family: 'Oswald', sans-serif;
	font-size: 1.8rem;
	color: $color-text;
	text-align: left;
}

.contactUs_hours-list span {
	text-align: right;
	color: $color-text;
}

/* Responsive  */

@media (max-width: 991px) {
	body {
		background-color: #03a9f5;
	}
	.contactUs {
		padding: 20px;
	}

	.contactUs__box {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas: 'form' 'info' 'map';
	}

	.contactUs__row50 {
		gap: 0;
		flex-direction: column;
	}

	.contactUs__inputBox {
		width: 100%;
	}

	.contactUs__contact {
		padding: 30px;
	}

	.contactUs__map {
		padding: 0;
		min-height: 300px;
	}
}

// footer

.footer {
	width: 100%;
	height: 12rem;
	background-color: #202122;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-size: cover;
	background-position: top;
	background: radial-gradient(circle, rgba(139, 130, 130, 0.8) 40%, rgba(64, 63, 62, 0.9) 100%),
		url('./images/road.jpg') no-repeat;
	padding: 0 10rem;

	&__nav a {
		font-family: 'Lato', sans-serif;
		text-transform: uppercase;
		font-size: 2rem;
		font-weight: 900;
		color: $color-text;
		margin-right: 4.5rem;
		letter-spacing: 0.1rem;
		transition: color 0.4s;
		display: inline-block;
		transition: color 0.3s, scale 0.4s;

		&::first-letter {
			color: #862323;
			font-size: 2.8rem;
		}

		&:hover {
			color: #862323;
			scale: 1.1;
			text-shadow: 0rem 0rem 0.3rem $color-text;
		}

		&:hover::first-letter {
			color: $color-text;
			text-shadow: 0rem 0rem .3rem $color-brand-1;
		}
	}

	&__copyright {
		font-size: 1.5rem;
		color: #ddd;
	}
}

// End of footer

// Responsive
@media (max-width: 1800px) {
	.section-2 {
		&__video-wrapper {
			width: 90rem;
			height: 45rem;
			right: 10rem;
		}

		&__paragraph {
			width: 90rem;
			right: 10rem;
		}
	}
}

@media (max-width: 1650px) {
	html {
		font-size: 57%;
	}
	.section-2 {
		&__video-wrapper {
			width: 85rem;
			height: 40rem;
			right: 5rem;
		}

		&__paragraph {
			width: 85rem;
			right: 5rem;
			bottom: 10rem;
		}
	}
}

@media (max-width: 1500px) {
	.heading-line {
		display: none;
	}
}

@media (max-width: 1400px) {
	html {
		font-size: 50%;
	}

	.section-1 {
		&__banner-heading span {
			font-size: 10rem;
		}

		&__banner-paragraph {
			width: 45rem;
			font-size: 3rem;
		}
	}
}

@media (max-width: 1200px) {
	.section-2 {
		flex-direction: column;
	}

	.heading {
		margin-top: 5rem;
	}

	.section-2 {
		&__video-wrapper {
			top: 25%;
			left: 50%;
			transform: translateX(-50%);
			width: 80rem;
		}

		&__paragraph {
			left: 50%;
			transform: translateX(-50%);
			width: 80rem;
			padding: 1rem 0 1rem 0;
		}
	}
}

@media (max-width: 900px) {
	html {
		font-size: 45%;
	}

	.section-1 {
		&__banner {
			top: 30%;
		}

		&__banner-heading span {
			font-size: 10rem;
		}
	}

	.footer {
		padding: 0 2rem;
		&-nav {
			font-size: 1.2rem;
		}
	}
}

@media (max-width: 700px) {
	html {
		font-size: 40%;
	}

	.section-1 {
		&__banner-heading span {
			font-size: 8rem;
			letter-spacing: 1.5rem;
		}
	}

	@keyframes animateHeading {
		0% {
			transform: translateZ(10rem);
			opacity: 0;
			letter-spacing: 1.5rem;
		}

		5% {
			transform: translateZ(0rem);
			opacity: 1;
			letter-spacing: 1rem;
		}
		25% {
			transform: translateZ(0rem);
			opacity: 1;
			letter-spacing: 1rem;
		}

		30% {
			transform: translateZ(10rem);
			opacity: 0;
			letter-spacing: 1.5rem;
		}

		100% {
			transform: translateZ(10rem);
			opacity: 0;
			letter-spacing: 1.5rem;
		}
	}

	.footer {
		flex-direction: column;
		justify-content: center;

		&__nav {
			margin-bottom: 2rem;

			a {
				margin: 1rem;
			}
		}
	}
}

@media (max-width: 550px) {
	html {
		font-size: 32%;
	}

	.section-2 {
		height: 75vh;

		&__video-wrapper {
			top: 25%;
			left: 50%;
			transform: translateX(-50%);
			width: 65rem;
		}

		&__paragraph {
			width: 65rem;
		}
	}

	.section-1 {
		&__banner-heading span {
			font-size: 4.5rem;
			letter-spacing: 1rem;
		}
	}
}
