@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  font-family: "Baloo Da 2", cursive;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.heading {
  font-family: "Oswald", sans-serif;
  font-size: 10rem;
  font-weight: 300;
  margin-right: 4rem;
  color: #ddd;
}

.navbar {
  width: 100%;
  height: 10rem;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  position: fixed;
  top: -20rem;
  z-index: 10;
  padding: 3rem;
  transition: height 0.5s;
  -webkit-animation: animateNavbar 1s 0.5s forwards;
          animation: animateNavbar 1s 0.5s forwards;
}
@-webkit-keyframes animateNavbar {
  from {
    top: -8rem;
  }
  to {
    top: 0rem;
  }
}
@keyframes animateNavbar {
  from {
    top: -8rem;
  }
  to {
    top: 0rem;
  }
}
.navbar__autobox {
  top: 0;
  left: -35rem;
  width: 30rem;
  height: 10rem;
  position: absolute;
  z-index: 100;
  -webkit-animation: carMove 15s cubic-bezier(0.04, 1.01, 0.87, 0.06) infinite 1.2s, carRide 0.3s linear infinite;
          animation: carMove 15s cubic-bezier(0.04, 1.01, 0.87, 0.06) infinite 1.2s, carRide 0.3s linear infinite;
}
@-webkit-keyframes carMove {
  0% {
    left: -35rem;
  }
  100% {
    left: 100%;
  }
}
@keyframes carMove {
  0% {
    left: -35rem;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes carRide {
  0% {
    transform: translateY(-0.07rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@keyframes carRide {
  0% {
    transform: translateY(-0.07rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
.navbar__autobox-content img {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
.navbar__autobox-wheel1 {
  top: 4.4rem;
  left: 20.6em;
  position: absolute;
  width: 14.4%;
  height: 14.4%;
}
.navbar__autobox-wheel1 img {
  transform-origin: center;
  -webkit-animation: animateWheel 0.5s linear infinite;
          animation: animateWheel 0.5s linear infinite;
}
.navbar__autobox-wheel2 {
  top: 4.4rem;
  left: 3.4rem;
  position: absolute;
  width: 14.4%;
  height: 14.4%;
}
.navbar__autobox-wheel2 img {
  transform-origin: center;
  -webkit-animation: animateWheel 0.5s linear infinite;
          animation: animateWheel 0.5s linear infinite;
}
@-webkit-keyframes animateWheel {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes animateWheel {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
.navbar__logo {
  position: absolute;
  top: 2.5rem;
  left: 3rem;
}
.navbar__logo p {
  font-family: "Lato", sans-serif;
  font-size: 3.5rem;
  color: yellow;
  font-weight: 900;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.navbar__logo span {
  font-family: "Lato", sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  color: #9e0e09;
}
.navbar.change {
  height: 100vh;
}
.navbar__list {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
}
.navbar__list-link {
  font-family: "Lato", sans-serif;
  font-size: 4rem;
  color: #fff;
  font-weight: 900;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  transition: all 0.4s;
}
.navbar__list-link::first-letter {
  color: #9e0e09;
}
.navbar__list-link:hover {
  color: #9e0e09;
  text-shadow: 0rem 0rem 0.3rem #fff;
}
.navbar__list-link:hover::first-letter {
  color: #fff;
  text-shadow: 0rem 0rem 3rem #9e0e09;
}

.change .navbar__list {
  opacity: 1;
  visibility: visible;
  transition: all 0.6s 0.4s;
}

.menu {
  width: 4rem;
  height: 4rem;
  position: fixed;
  z-index: 100;
  right: 2rem;
  top: 2.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
.menu .line {
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
  transition: all 0.5s;
}
.menu .line-1,
.menu .line-3 {
  width: 50%;
  transition: transform 0.5s;
}

.menu:hover .line {
  background-color: #9e0e09;
}

.change .line-1 {
  transform: translate(65%, 1.6rem) rotate(-35deg);
}

.change .line-3 {
  transform: translate(65%, -1.6rem) rotate(35deg);
}

.section-1 {
  width: 100%;
  height: 100vh;
  position: relative;
}
.section-1__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.7;
  overflow: hidden;
}
.section-1__video-content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-1__banner {
  width: 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.section-1__banner-heading {
  margin-bottom: 4rem;
  height: 20rem;
  perspective: 50rem;
  overflow: hidden;
}
.section-1__banner-heading span {
  font-family: "Oswald", sans-serif;
  font-size: 12rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateZ(10rem);
  opacity: 0;
  letter-spacing: 3rem;
}
.section-1__banner-heading-1 {
  -webkit-animation: animateHeading 12s 3s infinite;
          animation: animateHeading 12s 3s infinite;
}
.section-1__banner-heading-2 {
  -webkit-animation: animateHeading 12s 6s infinite;
          animation: animateHeading 12s 6s infinite;
}
.section-1__banner-heading-3 {
  -webkit-animation: animateHeading 12s 9s infinite;
          animation: animateHeading 12s 9s infinite;
}
.section-1__banner-heading-4 {
  -webkit-animation: animateHeading 12s 12s infinite;
          animation: animateHeading 12s 12s infinite;
}
@-webkit-keyframes animateHeading {
  0% {
    transform: translateZ(10rem);
    opacity: 0;
    letter-spacing: 3rem;
  }
  5% {
    transform: translateZ(0rem);
    opacity: 1;
    letter-spacing: 1.5rem;
  }
  25% {
    transform: translateZ(0rem);
    opacity: 1;
    letter-spacing: 1.5rem;
  }
  30% {
    transform: translateZ(10rem);
    opacity: 0;
    letter-spacing: 3rem;
  }
  100% {
    transform: translateZ(10rem);
    opacity: 0;
    letter-spacing: 3rem;
  }
}
@keyframes animateHeading {
  0% {
    transform: translateZ(10rem);
    opacity: 0;
    letter-spacing: 3rem;
  }
  5% {
    transform: translateZ(0rem);
    opacity: 1;
    letter-spacing: 1.5rem;
  }
  25% {
    transform: translateZ(0rem);
    opacity: 1;
    letter-spacing: 1.5rem;
  }
  30% {
    transform: translateZ(10rem);
    opacity: 0;
    letter-spacing: 3rem;
  }
  100% {
    transform: translateZ(10rem);
    opacity: 0;
    letter-spacing: 3rem;
  }
}
.section-1__banner-paragraph {
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  width: 30%;
  margin: 0rem auto 4rem auto;
  padding: 1rem 0;
  box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.5);
  font-family: "Oswald", sans-serif;
  visibility: hidden;
  -webkit-animation: fadeAnime 2s 1s forwards;
          animation: fadeAnime 2s 1s forwards;
}
@-webkit-keyframes fadeAnime {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadeAnime {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.section-1__banner-btn {
  width: 30rem;
  height: 6rem;
  background-image: linear-gradient(to right, #9b0e0e, #7a1010);
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 3rem;
  border: 0.1rem solid #800505;
  box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.5);
  text-shadow: 0.6rem 0.3rem 0.2rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-animation: fadeAnime 2s 2s forwards;
          animation: fadeAnime 2s 2s forwards;
  position: relative;
  overflow: hidden;
}
.section-1__banner-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, transparent, #fff, transparent);
  position: absolute;
  top: 0;
  left: -100%;
  transform: skewX -30deg;
  transition: left 0.5s;
}
.section-1__banner-btn:hover::before {
  left: 100%;
}

.section-2 {
  width: 100%;
  height: 100vh;
  background-color: #222020;
  display: flex;
  align-items: center;
  padding: 0 10rem;
  position: relative;
}
.section-2__video-wrapper {
  width: 100rem;
  height: 50rem;
  position: absolute;
  top: 10rem;
  right: 15rem;
  box-shadow: 3rem 3rem 3rem rgba(0, 0, 0, 0.7);
  overflow: hidden;
}
.section-2__video-wrapper:hover .section-2__controls {
  transform: translateY(0);
}
.section-2__video-wrapper video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.3;
  transition: opacity 0.5s;
}
.section-2__controls {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateY(calc(100% - 0.4rem));
  transition: transform 0.4s;
}
.section-2__controls-buttons {
  padding: 2rem 1rem 1rem 1rem;
}
.section-2__controls-buttons button {
  background: none;
  border: none;
  cursor: pointer;
}
.section-2__controls-buttons i {
  font-size: 2.8rem;
  color: #fff;
}
.section-2__controls-video-bar-wrapper {
  width: 100%;
  height: 0.7rem;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
}
.section-2__controls-video-bar {
  height: 100%;
  width: 0%;
  background-color: #d30819;
  transition: width 0.5s linear;
}
.section-2__paragraph {
  width: 100rem;
  position: absolute;
  bottom: 5rem;
  right: 15rem;
  font-size: 2rem;
  color: #fff;
  border-top: 0.3rem double #ddd;
  border-bottom: 0.3rem double #ddd;
  padding: 2rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.5);
}
.section-2__paragraph .fa-quote-left {
  align-self: flex-start;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.section-2__paragraph .fa-quote-right {
  margin-top: 1rem;
  align-self: flex-end;
  font-size: 3rem;
}

.section-3 {
  width: 100%;
  height: 100vh;
  background-color: #03070e;
  display: flex;
  align-items: center;
  padding-left: 10rem;
}
.section-3 .pricing-cards-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 5rem;
}
.section-3 .pricing-card {
  width: 28rem;
  height: 45rem;
  background-color: #181b1d;
  border-radius: 1rem;
  box-shadow: 2rem 2rem 6rem rgba(0, 0, 0, 0.7);
}
.section-3 .pricing-card-front {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.section-3 .pricing-card-heading {
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  border-radius: 1rem 1rem 0 0;
}
.section-3 .heading-free {
  background-image: linear-gradient(to right, #087285, #0da5d3);
  border-radius: 1rem 1rem 0 0;
}
.section-3 .heading-basic {
  background-image: linear-gradient(to right, #946809, #bdba0e);
  border-radius: 1rem 1rem 0 0;
}
.section-3 .heading-standard {
  background-image: linear-gradient(to right, #a10c14, #e23b3b);
  border-radius: 1rem 1rem 0 0;
}
.section-3 .heading-premium {
  background-image: linear-gradient(to right, #0b7e48, #3be286);
  border-radius: 1rem 1rem 0 0;
}
.section-3 .pricing-card-price {
  font-family: "Lato", sans-serif;
  font-size: 7rem;
  font-weight: 600;
  color: #fff;
}
.section-3 .pricing-card-list li {
  margin-bottom: 0.5rem;
}
.section-3 .pricing-card-list i {
  font-size: 1.8rem;
  width: 3rem;
}
.section-3 .pricing-card-list span {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
.section-3 .list-free {
  color: #0da5d3;
}
.section-3 .list-basic {
  color: #bdba0e;
}
.section-3 .list-standard {
  color: #e23d3b;
}
.section-3 .list-premium {
  color: #3be286;
}
.section-3 .pricing-card-btn {
  width: 18rem;
  height: 5rem;
  margin-bottom: 3rem;
  border-radius: 3rem;
  border: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.5);
}
.section-3 .btn-free {
  background-color: #0da5d3;
}
.section-3 .btn-basic {
  background-color: #bdba0e;
}
.section-3 .btn-standard {
  background-color: #e23d3b;
}
.section-3 .btn-premium {
  background-color: #3be286;
}
.section-3 .pricing-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  border-radius: 1rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.section-3 .pricing-card-back a {
  font-size: 2.5rem;
  color: #fff;
}
.section-3 .back-free {
  background-image: linear-gradient(to right, #087285, #0da5d3);
}
.section-3 .back-basic {
  background-image: linear-gradient(to right, #946809, #bdba0e);
}
.section-3 .back-standard {
  background-image: linear-gradient(to right, #a10c14, #e23b3b);
}
.section-3 .back-premium {
  background-image: linear-gradient(to right, #0b7e48, #3be286);
}

.section-4 {
  width: 100;
  height: 100vh;
  background-color: #171718;
  display: flex;
  align-items: center;
  padding: 0 10rem;
}
.section-4__contact-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-4__contact-wrapper h1 {
  font-size: 4rem;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
.section-4__contact-form {
  width: 70rem;
  display: flex;
  flex-direction: column;
}
.section-4__contact-form input,
.section-4__contact-form textarea {
  padding: 1.5rem;
  background-color: #444;
  color: #fff;
  border: none;
  margin-bottom: 2rem;
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}
.section-4__contact-form textarea {
  max-width: 100%;
  max-height: 15rem;
  min-height: 5.5rem;
}
.section-4__contact-form input[type=submit] {
  background-color: #7a1010;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
}
.section-4__contact-form input[type=submit]:hover {
  background-color: #5f0303;
}
.section-4__contact-details {
  display: flex;
  margin-bottom: 8rem;
}
.section-4__contact-details div {
  width: 25rem;
  text-align: center;
  margin: 4rem;
}
.section-4__contact-details i {
  font-size: 5rem;
  color: #7a1010;
}
.section-4__contact-details h3 {
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
  margin: 2rem 0;
  color: #fff;
}
.section-4__contact-details p {
  font-size: 1.6rem;
  color: #fff;
}

.contactUs {
  background-image: linear-gradient(90deg, #0e3959 0%, #0e3959 30%, #03a9f5 30%, #03a9f5 100%);
  position: relative;
  width: 100%;
  padding: 40px 100px;
}

.contactUs__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.contactUs__heading {
  color: #fff;
  font-weight: 500;
}

.contactUs__form {
  grid-area: form;
}

.contactUs__info {
  grid-area: info;
}

.contactUs__map {
  grid-area: map;
}

.contactUs__contact {
  padding: 40px;
  background: #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.contactUs__box {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "form info" "form map";
  grid-gap: 20px;
  margin-top: 20px;
}

.contactUs__contact h3 {
  color: #0e3959;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 10px;
}

/* form */
.contactUs__formBox {
  position: relative;
  width: 100%;
}

.contactUs__row50 {
  display: flex;
  gap: 10px;
}

.contactUs__inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.contactUs__row100 .contactUs__inputBox {
  width: 100%;
}

.contactUs__inputBox span {
  color: #18b7ff;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.contactUs__inputBox input {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
}

.contactUs__inputBox textarea {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
}

.contactUs__btnSubmit input[type=submit] {
  background: #ff578b;
  color: #fff;
  border: none;
  font-size: 1.1em;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
}

.contactUs__inputBox::-moz-placeholder {
  color: #999;
}

.contactUs__inputBox:-ms-input-placeholder {
  color: #999;
}

.contactUs__inputBox::placeholder {
  color: #999;
}

/* info */
.contactUs__info {
  background: #0e3959;
}

.contactUs__info h3 {
  color: #fff;
}

.contactUs__info .contactUs__infoBox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contactUs__info .contactUs__infoBox div span {
  min-width: 40px;
  height: 40px;
  background: #18b7ff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px;
}

.contactUs__info .contactUs__infoBox div p {
  color: #fff;
  font-size: 1.1em;
}

.contactUs__info .contactUs__infoBox div a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
}

.contactUs__sci {
  margin-top: 40px;
  display: flex;
}

.contactUs__sci li {
  list-style: none;
  margin-right: 15px;
}

.contactUs__sci li a {
  font-size: 2em;
  color: #ccc;
}

.contactUs__sci li a:hover {
  color: #fff;
}

.contactUs__map {
  padding: 0;
}

.contactUs__map iframe {
  width: 100%;
  height: 100%;
}

/* Responsive  */
@media (max-width: 991px) {
  body {
    background-color: #03a9f5;
  }
  .contactUs {
    padding: 20px;
  }
  .contactUs__box {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "form" "info" "map";
  }
  .contactUs__row50 {
    gap: 0;
    flex-direction: column;
  }
  .contactUs__inputBox {
    width: 100%;
  }
  .contactUs__contact {
    padding: 30px;
  }
  .contactUs__map {
    padding: 0;
    min-height: 300px;
  }
}
.footer {
  width: 100%;
  height: 12rem;
  background-color: #202122;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
}
.footer__nav a {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  color: #fff;
  margin-right: 3rem;
  letter-spacing: 0.1rem;
  transition: color 0.4s;
}
.footer__nav a:hover {
  color: #862323;
}
.footer__copyright {
  font-size: 2rem;
  color: #ddd;
}

@media (max-width: 1800px) {
  .section-2__video-wrapper {
    width: 90rem;
    height: 45rem;
    right: 10rem;
  }
  .section-2__paragraph {
    width: 90rem;
    right: 10rem;
  }
  .section-3 .heading-line {
    margin-right: 3rem;
  }
}
@media (max-width: 1650px) {
  html {
    font-size: 57%;
  }
  .section-2__video-wrapper {
    width: 85rem;
    height: 40rem;
    right: 5rem;
  }
  .section-2__paragraph {
    width: 85rem;
    right: 5rem;
    bottom: 10rem;
  }
}
@media (max-width: 1500px) {
  .heading-line {
    display: none;
  }
}
@media (max-width: 1400px) {
  html {
    font-size: 50%;
  }
  .section-1__banner-heading span {
    font-size: 10rem;
  }
  .section-1__banner-paragraph {
    width: 45rem;
    font-size: 3rem;
  }
}
@media (max-width: 1200px) {
  .section-2,
.section-3,
.section-4 {
    flex-direction: column;
  }
  .heading {
    margin-top: 5rem;
  }
  .section-2__video-wrapper {
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 80rem;
  }
  .section-2__paragraph {
    left: 50%;
    transform: translateX(-50%);
    width: 80rem;
    padding: 1rem 0 1rem 0;
  }
  .section-3 {
    height: auto;
    padding: 3rem 0 10rem 0;
  }
  .section-3 .pricing-cards-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .section-3 .heading {
    margin-bottom: 5rem;
  }
  .section-3 .mySwiper {
    width: 100%;
  }
  .section-4 {
    height: auto;
    padding: 3rem 0;
  }
  .section-4 .heading {
    margin-bottom: 5rem;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 45%;
  }
  .section-1__banner {
    top: 30%;
  }
  .section-1__banner-heading span {
    font-size: 10rem;
  }
  .footer {
    padding: 0 2rem;
  }
  .footer-nav {
    font-size: 1.2rem;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 40%;
  }
  .section-1__banner-heading span {
    font-size: 8rem;
    letter-spacing: 1.5rem;
  }
  @-webkit-keyframes animateHeading {
    0% {
      transform: translateZ(10rem);
      opacity: 0;
      letter-spacing: 1.5rem;
    }
    5% {
      transform: translateZ(0rem);
      opacity: 1;
      letter-spacing: 1rem;
    }
    25% {
      transform: translateZ(0rem);
      opacity: 1;
      letter-spacing: 1rem;
    }
    30% {
      transform: translateZ(10rem);
      opacity: 0;
      letter-spacing: 1.5rem;
    }
    100% {
      transform: translateZ(10rem);
      opacity: 0;
      letter-spacing: 1.5rem;
    }
  }
  @keyframes animateHeading {
    0% {
      transform: translateZ(10rem);
      opacity: 0;
      letter-spacing: 1.5rem;
    }
    5% {
      transform: translateZ(0rem);
      opacity: 1;
      letter-spacing: 1rem;
    }
    25% {
      transform: translateZ(0rem);
      opacity: 1;
      letter-spacing: 1rem;
    }
    30% {
      transform: translateZ(10rem);
      opacity: 0;
      letter-spacing: 1.5rem;
    }
    100% {
      transform: translateZ(10rem);
      opacity: 0;
      letter-spacing: 1.5rem;
    }
  }
  .section-4__contact-details div {
    margin: 3rem, 2rem;
  }
  .footer {
    flex-direction: column;
    justify-content: center;
  }
  .footer__nav {
    margin-bottom: 2rem;
  }
  .footer__nav a {
    margin: 1rem;
  }
}
@media (max-width: 550px) {
  html {
    font-size: 32%;
  }
  .section-2 {
    height: 75vh;
  }
  .section-2__video-wrapper {
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 65rem;
  }
  .section-2__paragraph {
    width: 65rem;
  }
  .section-4__contact-details div {
    width: 17rem;
    margin: 3rem, 1rem;
  }
  .section-4__contact-form {
    width: 60rem;
  }
  .section-4__contact .section-1__banner-heading span {
    font-size: 4.5rem;
    letter-spacing: 1rem;
  }
}/*# sourceMappingURL=style.css.map */